.project-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.project-page-title {
  font: 25px sans-serif;
  font-weight: 700;
}

.projects-list-container ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 767px) {
  .projects-list-container ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
