.skill-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skills {
  transition: transform 1s linear;
  cursor: pointer;
}

.skills:hover {
  transform: scale(1.1);
}

.course-name {
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
}

.course-level {
  color: dimgrey;
  font-size: 15px;
  font-weight: normal;
}

.icon-course {
  width: 50px;
}
