.contact-bg-container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* overflow: auto; */
  font-family: sans-serif;
}

.contact-heading {
  font-size: 10px;
  color: brown;
  text-align: center;
  position: relative;
  animation-name: contact-name;
  animation-timing-function: ease-in-out;
  animation-duration: 4s;
}

@media screen and (min-width: 767px) {
  .contact-heading {
    font-size: 15px;
  }
}

@keyframes contact-name {
  from {
    right: -400px;
  }
  to {
    right: 0px;
  }
}

.span-contat-heading {
  color: #000000;
  text-align: center;
  font-weight: 600;
  font-size: 19px;
}

@media screen and (min-width: 767px) {
  .span-contat-heading {
    font-size: 30px;
  }
}

.contact-details-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #000000;
  border-radius: 10px;
  padding: 20px 0 0 10px;
  margin-top: 40px;
  position: relative;
  animation-name: contact-container;
  animation-duration: 4s;
}

@media screen and (min-width: 767px) {
  .contact-details-container {
    flex-direction: row;
  }
}

@keyframes contact-container {
  from {
    left: -400px;
  }
  to {
    left: 0px;
  }
}

.mail-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icons {
  font-size: 20px;
}

.contact-icons:hover {
  color: brown;
}

.email {
  margin-left: 5px;
  margin-right: 30px;
  font-size: 15px;
}

.anchor-element {
  text-decoration: none;
  color: #000000;
  padding-top: 5px;
}

.anchor-element:hover {
  color: brown;
}

.copyright {
  text-align: center;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: center; */
}

.label {
  font-size: 17px;
}
